<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rekkids</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>


  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/collections">Rekkids</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/collections">Collection</a></li>
        <li><a href="/collections/new">Add Rekkid</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
            
          <% if (user) { %>
            <a href="/logout"><i class="glyphicon glyphicon-log-out"></i> Log Out</a>
          <% } else { %>
            <a href="/auth/google"><i class="glyphicon glyphicon-log-in"></i> Login</a>
          <% } %>
         
        </li>
      </ul>
    </div>
  </nav>

<% if (user._id.equals(user && user._id)) { %>
<div>
<form class= "newRekkid" id="newRekkid-form" action="/collections/new" method="POST">
  <label class = "ml-3 rekkid">Title:</label>
  <input type="text" name="title">
  <label class = "ml-3 rekkid">Artist:</label>
  <input type="text" name="artist">
  <label class = "ml-3 rekkid">Label:</label>
  <input type="text" name="label">
  <label class = "ml-3 rekkid">Year:</label>
  <input type="text" name="yearReleased">
  <label class = "ml-3 rekkid">When I got It:</label>
  <input type="text" name="yearPurchased">
  <input type="submit" value="Add Rekkid">
 
</form>
</div>
<% } %>


</body>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</html>